
*.exe
*.xml
*.lst
*.iml
*.mf
*.properties
Ing. en Informatica/2° Año/1º Semestre/Ing. Web 1/Parciales/1° Parcial/Codigo/out/production/Codigo/NetBeansProjects/Primer_Parcial_20_4/target/test-classes/.netbeans_automatic_build
Ing. en Informatica/2° Año/1º Semestre/Ing. Web 1/Parciales/1° Parcial/Codigo/out/production/Codigo/NetBeansProjects/Primer_Parcial_20_4/target/classes/.netbeans_automatic_build
/Experimentaciones/Java/SanValentin/target/
/Experimentaciones/Java/SimulacroMBC/target/
/Experimentaciones/Java/SimulacroBuenConductor/target/
